venv/
.env
__pycache__/
*.pyc
.DS_Store
.dbt/
logs/
*.log
data/*.csv
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py
